:root {
    --card: #ffffff;
    --ring: #6C47FF;
    --input: #D9D9DE;
    --muted: #F7F7F8;
    --accent: #EAE8FF;
    --border: #D9D9DE;
    --radius: 0.5rem;
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --popover: #ffffff;
    --primary: #6C47FF;
    --spacing: 0.25rem;
    --font-mono: "soehneMono", monospace;
    --font-sans: "suisse", "suisse Fallback", sans-serif;
    --secondary: #F7F7F8;
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --background: #ffffff;
    --foreground: #131316;
    --destructive: #EF4444;
    --card-foreground: #131316;
    --tracking-normal: 0em;
    --muted-foreground: #747686;
    --accent-foreground: #42434D;
    --popover-foreground: #131316;
    --primary-foreground: #ffffff;
    --secondary-foreground: #131316;
    --destructive-foreground: #ffffff;
}

.dark {
    --card: #212126;
    --ring: #6C47FF;
    --input: #2F3037;
    --muted: #2F3037;
    --accent: #2F3037;
    --border: #2F3037;
    --popover: #212126;
    --primary: #6C47FF;
    --secondary: #2F3037;
    --background: #131316;
    --foreground: #D9D9DE;
    --destructive: #B91C1C;
    --card-foreground: #D9D9DE;
    --muted-foreground: #747686;
    --accent-foreground: #D9D9DE;
    --popover-foreground: #D9D9DE;
    --primary-foreground: #ffffff;
    --secondary-foreground: #D9D9DE;
    --destructive-foreground: #D9D9DE;
}